<div *ngIf="form" >
    <form [formGroup]="form" (ngSubmit)="checkCitizenId()">
        <div style="display: flex; justify-content: center;">
            <label for="citizen_id">Citizen ID : </label>
            <input id="citizen_id" type="text" maxlength="13" formControlName="citizen_id" digitOnly>
            <button type="submit">check</button>

            
        </div>
    </form>
        <div>
            <span *ngIf="f.citizen_id?.invalid" class="msg-err">*กรุณากรอกให้ครบ 13 หลัก</span>
        </div>
         <div style="text-align: center; padding-top: 20px;">
            {{citizenResult | json}}
        </div>
   
</div>

